<p style="color: green"><%= notice %></p>

<%= render @join_table_user_com_mean %>

<div>
  <%= link_to "Edit this join table user com mean", edit_join_table_user_com_mean_path(@join_table_user_com_mean) %> |
  <%= link_to "Back to join table user com means", join_table_user_com_means_path %>

  <%= button_to "Destroy this join table user com mean", @join_table_user_com_mean, method: :delete %>
</div>
