<div class="grid h-10  bg-base-300 rounded-box place-items-stretch">
<%= form_with url: meetings_path do |f| %>
<%= f.hidden_field :coach_id, value: @coach.id %>
<div class='flex items-center justify-center min-h-screen from-teal-100 via-blue-200 to-blue-500 bg-gradient-to-br'>
		<div class='w-full max-w-lg px-10 py-8 mx-auto bg-white rounded-lg shadow-xl'>
			<div class='max-w-md mx-auto space-y-6'>

					<h2 class="text-2xl font-bold ">Choisis un rendez-vous</h2>
					<p class="my-4 opacity-70">Tous nos coach sont des professionels</p>
					<hr class="my-6">

        <div>
          <%= f.label :Disponibilité, class: "uppercase text-sm font-bold opacity-70" %>         
          <%= f.select :availability_id, options_for_select(@coach_availabilities.collect{ |availability| [availability.start_date, availability.id] }), {prompt: "Choisis une disponibilité"}, {class: "p-3 mt-2 mb-4 w-full bg-slate-200 rounded border-2 border-slate-200 focus:border-slate-600 focus:outline-none"} %>
        </div>

        <div>
          <%= f.label :Type_de_rendez_vous, class: 'uppercase text-sm font-bold opacity-70 mt-3' %>
          <%= f.select :meeting_type, options_for_select(Meeting.meeting_types), {prompt: "Choisis un type de rendez vous"},  {class: "rdv p-3 mt-2 mb-4 w-full bg-slate-200 rounded border-2 border-slate-200 focus:border-slate-600 focus:outline-none"} %>
        </div>
        
        <div class= "url hidden">
          <%= f.label :URL_de_la_vidéo, class: "uppercase text-sm font-bold opacity-70" %>
          <%= f.text_field :video_url,  {class: "p-3 mt-2 mb-4 w-full bg-slate-200 rounded border-2 border-slate-200 focus:border-slate-600 focus:outline-none"} %>
        </div>

        <div>
          <%= f.label :Voiture, class: 'uppercase text-sm font-bold opacity-70' %>
          <%= f.select :car, options_for_select(@coach_cars.collect{ |car| [car.model, car.id] }), {prompt: "Choisis ta voiture"},  {class: "p-3 mt-2 mb-4 w-full bg-slate-200 rounded border-2 border-slate-200 focus:border-slate-600 focus:outline-none"} %>
        </div>

        <div>
          <%= f.label :Circuit, class: 'uppercase text-sm font-bold opacity-70' %>
          <%= f.select :track, options_for_select(@coach_tracks.collect{ |track| [track.name, track.id] }), {prompt: "Choisis un circuit"},  {class: "p-3 mt-2 mb-4 w-full bg-slate-200 rounded border-2 border-slate-200 focus:border-slate-600 focus:outline-none"} %>
        </div>

        <div>
          <%= f.label :Moyen_de_communication, class: 'uppercase text-sm font-bold opacity-70' %>
          <%= f.select :com_mean, options_for_select(@coach_com_means.collect{ |commean| [commean.communication_mean, commean.id] }), {prompt: "Choisis un moyen de communicaton"},  {class: "p-3 mt-2 mb-4 w-full bg-slate-200 rounded border-2 border-slate-200 focus:border-slate-600 focus:outline-none"} %>
        </div>

        <div>
          <%= f.submit 'Prendre le rdv', class: "py-3 px-6 my-2 bg-blue-200 text-white font-medium rounded hover:bg-blue-400 cursor-pointer ease-in-out duration-300" %>
        </div>

          <%= link_to "Retour a l'acceuil", root_path %>

			</div>
		</div>
	</div>
  <% end %>
</div>
