<div class="grid gap-6 w-full pt-12">
    <div class="max-w-lg mx-auto my-10 bg-white p-8 rounded-xl shadow shadow-slate-300 ">
        <div class="flex flex-row justify-between items-center">
            <div>
                <h1 class="text-2xl font-medium">Votre meeting</h1>
            </div>
            <div class="inline-flex space-x-2 items-center">
                <%= link_to "retour a mon profil", user_path(current_user.id), class: "p-2 border border-slate-200 rounded-md inline-flex space-x-1 items-center text-indigo-200 hover:text-white bg-indigo-600 hover:bg-indigo-500 text-sm font-medium hidden md:block" %>                  
            </div>
        </div>
        <p class="text-slate-500">Retrouver les infos essentiels de votre meeting</p>

        <div id="tasks" class="my-5">
            <div id="task" class="flex justify-between items-center border-b border-slate-200 py-3 px-2 border-l-4  border-l-transparent bg-gradient-to-r from-transparent to-transparent hover:from-slate-100 transition ease-linear duration-150">
                <div class="inline-flex items-center space-x-2">
                    <div>Coach: <%= User.find(@meeting.coach_id).first_name + " " + User.find(@meeting.coach_id).last_name %></div>
                </div>
            </div>
            <div id="task" class="flex justify-between items-center border-b border-slate-200 py-3 px-2 border-l-4  border-l-transparent bg-gradient-to-r from-transparent to-transparent hover:from-slate-100 transition ease-linear duration-150">
                <div class="inline-flex items-center space-x-2">
                    <div>Driver: <%= User.find(@meeting.driver_id).first_name + " " + User.find(@meeting.driver_id).last_name %></div>
                </div>
            </div>
            <div id="task" class="flex justify-between items-center border-b border-slate-200 py-3 px-2 border-l-4  border-l-transparent bg-gradient-to-r from-transparent to-transparent hover:from-slate-100 transition ease-linear duration-150">
                <div class="inline-flex items-center space-x-2">
                    <div>Date du coaching: <%= Availability.find(@meeting.availability_id).start_date %></div>
                </div>
            </div>
            <div id="task" class="flex justify-between items-center border-b border-slate-200 py-3 px-2 border-l-4  border-l-transparent bg-gradient-to-r from-transparent to-transparent hover:from-slate-100 transition ease-linear duration-150">
                <div class="inline-flex items-center space-x-2">
                    <div>Durée: <%= @meeting.duration.to_s + " minutes." %></div>
                </div>
            </div>
            <div id="task" class="flex justify-between items-center border-b border-slate-200 py-3 px-2 border-l-4  border-l-transparent bg-gradient-to-r from-transparent to-transparent hover:from-slate-100 transition ease-linear duration-150">
                <div class="inline-flex items-center space-x-2">
                    <div>Type de coaching: <%= @meeting.meeting_type %></div>
                </div>
            </div>
            <div id="task" class="flex justify-between items-center border-b border-slate-200 py-3 px-2 border-l-4  border-l-transparent bg-gradient-to-r from-transparent to-transparent hover:from-slate-100 transition ease-linear duration-150">
                <div class="inline-flex items-center space-x-2">
                    <div>Video URL: <%= @meeting.video_url %></div>
                </div>
            </div>
            <div id="task" class="flex justify-between items-center border-b border-slate-200 py-3 px-2 border-l-4  border-l-transparent bg-gradient-to-r from-transparent to-transparent hover:from-slate-100 transition ease-linear duration-150">
                <div class="inline-flex items-center space-x-2">
                    <div>Moyen de communication: <%= ComMean.find(@meeting.com_mean_id).communication_mean %></div>
                </div>
            </div>
            <div id="task" class="flex justify-between items-center border-b border-slate-200 py-3 px-2 border-l-4  border-l-transparent bg-gradient-to-r from-transparent to-transparent hover:from-slate-100 transition ease-linear duration-150">
                <div class="inline-flex items-center space-x-2">
                    <div>Model de voiture: <%= Car.find(@meeting.car_id).model %></div>
                </div>
            </div>
            <div id="task" class="flex justify-between items-center border-b border-slate-200 py-3 px-2 border-l-4  border-l-transparent bg-gradient-to-r from-transparent to-transparent hover:from-slate-100 transition ease-linear duration-150">
                <div class="inline-flex items-center space-x-2">
                    <div>Circuit: <%= Track.find(@meeting.track_id).name %></div>
                </div>
            </div>
            <% @meeting.feedbacks.each do |feedback| %>
              <%= button_to "Voir ce feedback", feedback_path(feedback.id), method: :get, class: "p-2 border border-slate-200 rounded-md inline-flex space-x-1 items-center text-indigo-200 hover:text-white bg-indigo-600 hover:bg-indigo-500 text-sm font-medium hidden md:block"  %>
            <% end %>
        </div>
				<% if @meeting.meeting_status == "unpaid" %>
					<h2><strong>Une derniére étape pour valider le rendez-vous:</strong></h2>
					<%= button_to "Passer commande", checkout_create_path(total: @total), remote: true, class: "p-2 border border-slate-200 rounded-md inline-flex space-x-1 items-center text-indigo-200 hover:text-white bg-indigo-600 hover:bg-indigo-500 text-sm font-medium hidden md:block" %>
				<% end %>
	  </div>
</div>