<div class="grid gap-6 w-full pt-12 from-teal-100 via-blue-200 to-blue-500 bg-gradient-to-br">
    <div class="max-w-lg mx-auto my-10 bg-white p-8 rounded-xl shadow shadow-slate-300 ">
        <div class="flex flex-row justify-center items-center">
            <h1 class="text-2xl font-medium">Votre meeting</h1>
        </div>

        <div id="tasks" class="my-5">
            <div id="task" class="flex justify-between items-center border-b border-slate-200 py-3 px-2 border-l-4  border-l-transparent bg-gradient-to-r from-transparent to-transparent hover:from-slate-100 transition ease-linear duration-150">
                <div class="inline-flex items-center space-x-2">
                    <div>Coach: <%= User.find(@meeting.coach_id).first_name + " " + User.find(@meeting.coach_id).last_name %></div>
                </div>
            </div>

            <div id="task" class="flex justify-between items-center border-b border-slate-200 py-3 px-2 border-l-4  border-l-transparent bg-gradient-to-r from-transparent to-transparent hover:from-slate-100 transition ease-linear duration-150">
                <div class="inline-flex items-center space-x-2">
                    <div>Driver: <%= User.find(@meeting.driver_id).first_name + " " + User.find(@meeting.driver_id).last_name %></div>
                </div>
            </div>

            <div id="task" class="flex justify-between items-center border-b border-slate-200 py-3 px-2 border-l-4  border-l-transparent bg-gradient-to-r from-transparent to-transparent hover:from-slate-100 transition ease-linear duration-150">
                <div class="inline-flex items-center space-x-2">
                    <div>Date du coaching: <%= Availability.find(@meeting.availability_id).start_date %></div>
                </div>
            </div>

            <div id="task" class="flex justify-between items-center border-b border-slate-200 py-3 px-2 border-l-4  border-l-transparent bg-gradient-to-r from-transparent to-transparent hover:from-slate-100 transition ease-linear duration-150">
                <div class="inline-flex items-center space-x-2">
                    <div>Durée: <%= @meeting.duration.to_s + " minutes." %></div>
                </div>
            </div>

            <div id="task" class="flex justify-between items-center border-b border-slate-200 py-3 px-2 border-l-4  border-l-transparent bg-gradient-to-r from-transparent to-transparent hover:from-slate-100 transition ease-linear duration-150">
                <div class="inline-flex items-center space-x-2">
                    <div>Type de coaching: <%= @meeting.meeting_type %></div>
                </div>
            </div>

            <% if @meeting.meeting_type != "first_contact" %>
              <div id="task" class="flex justify-between items-center border-b border-slate-200 py-3 px-2 border-l-4  border-l-transparent bg-gradient-to-r from-transparent to-transparent hover:from-slate-100 transition ease-linear duration-150">
                  <div class="inline-flex items-center space-x-2">
                      <div>Video URL: <%= @meeting.video_url %></div>
                  </div>
              </div>
            <% end %>

            <div id="task" class="flex justify-between items-center border-b border-slate-200 py-3 px-2 border-l-4  border-l-transparent bg-gradient-to-r from-transparent to-transparent hover:from-slate-100 transition ease-linear duration-150">
                <div class="inline-flex items-center space-x-2">
                    <div>Moyen de communication: <%= ComMean.find(@meeting.com_mean_id).communication_mean %></div>
                </div>
            </div>

            <div id="task" class="flex justify-between items-center border-b border-slate-200 py-3 px-2 border-l-4  border-l-transparent bg-gradient-to-r from-transparent to-transparent hover:from-slate-100 transition ease-linear duration-150">
                <div class="inline-flex items-center space-x-2">
                    <div>Model de voiture: <%= Car.find(@meeting.car_id).model %></div>
                </div>
            </div>

            <div id="task" class="flex justify-between items-center border-b border-slate-200 py-3 px-2 border-l-4  border-l-transparent bg-gradient-to-r from-transparent to-transparent hover:from-slate-100 transition ease-linear duration-150">
                <div class="inline-flex items-center space-x-2">
                    <div>Circuit: <%= Track.find(@meeting.track_id).name %></div>
                </div>
            </div>

            <% @meeting.feedbacks.each do |feedback| %>
              <%= button_to "Voir ce feedback", feedback_path(feedback.id), method: :get, class: "py-3 px-3 my-2 bg-blue-300 text-white font-medium rounded hover:bg-blue-600 cursor-pointer ease-in-out duration-300"  %>
            <% end %>
        </div>
        
        <div class="flex items-center justify-center gap-16 space-x-4">
          <% if @meeting.meeting_status == "unpaid" %>
              <div>
                  <%= form_tag checkout_create_path, method: :post, data: { turbo: false } do %>
                  <input type="hidden" name="total" value="<%= @total %>" />
                  
                  <%= submit_tag "Passer commande", class: "py-3 px-3 my-2 bg-blue-300 text-white font-medium rounded hover:bg-blue-600 cursor-pointer ease-in-out duration-300" %>
                  <% end %>	
              </div>
          <% end %>
              <div>
                    <%= link_to "Retour à mon profil", user_path(current_user.id), class: "text-gray-500 font-bold lg:text-sm hover:text-gray-900"%>                  
              </div>
              			
          
        </div>
	</div>
</div>