<div class="grid h-50 bg-base-300 rounded-box place-items-stretch">
  <div class="h-full md:flex">
    <div class="relative overflow-hidden md:flex w-1/2 i justify-around items-center hidden bg-cover " style="background-image: url('https://img.freepik.com/photos-gratuite/gros-plan-mains-mecanicien-meconnaissable-faisant-service-entretien-voiture_146671-19691.jpg?w=2000');">
      <div>
        <h1 class="text-gray-700 font-bold text-4xl font-sans">Envie de faire peau neuve ?</h1>
      </div>

    </div>
    <div class="flex md:w-1/2 justify-center py-10 items-center bg-white">
      <%= form_with(model: @user, url: user_path(@user), method: "put") do |f| %>
        <div class='flex items-center justify-center h-full from-teal-100 via-blue-200 to-blue-500 bg-gradient-to-br'>
          <div class='w-full max-w-lg px-10 py-20 mx-auto bg-white rounded-lg shadow-xl'>
            <div class='max-w-md mx-auto space-y-6'>
          
              <div>
                <%= f.label :Firstname, class: "uppercase text-sm font-bold opacity-70" %>         
                <%= f.text_field :first_name, {class: "p-3 mt-2 mb-4 w-full bg-slate-200 rounded border-2 border-slate-200 focus:border-slate-600 focus:outline-none"} %>
              </div>

              <div>
                <%= f.label :Lastname, class: "uppercase text-sm font-bold opacity-70" %>         
                <%= f.text_field :last_name, {class: "p-3 mt-2 mb-4 w-full bg-slate-200 rounded border-2 border-slate-200 focus:border-slate-600 focus:outline-none"} %>
              </div>

              <div>
                <%= f.label :Description, class: "uppercase text-sm font-bold opacity-70" %>         
                <%= f.text_field :description, {class: "p-3 mt-2 mb-4 w-full bg-slate-200 rounded border-2 border-slate-200 focus:border-slate-600 focus:outline-none"} %>
              </div>

              <div>
                <%= f.label :Email, class: "uppercase text-sm font-bold opacity-70" %>         
                <%= f.email_field :email, {class: "p-3 mt-2 mb-4 w-full bg-slate-200 rounded border-2 border-slate-200 focus:border-slate-600 focus:outline-none"} %>
              </div>

              <div>
                <%= f.label :Password, class: "uppercase text-sm font-bold opacity-70" %>         
                <%= f.password_field :password, {class: "p-3 mt-2 mb-4 w-full bg-slate-200 rounded border-2 border-slate-200 focus:border-slate-600 focus:outline-none"} %>
              </div>


              <div>
                <div>
                  <%= f.submit 'Enregistrer', class: "block w-full bg-indigo-600 mt-4 py-2 rounded-2xl text-white font-semibold mb-2" %>
                </div>
                <hr>
                <div>
                  <div>
                    <%= button_to "Supprimer mon compte", registration_path(@user), data: { confirm: "Are you sure?" }, method: :delete, class: "block w-full bg-red-600 mt-4 py-2 rounded-2xl text-white font-semibold mb-2" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>