<body
    class="font-inter antialiased bg-slate-100 text-slate-600"
    :class="{ 'sidebar-expanded': sidebarExpanded }"
    x-data="{ sidebarOpen: false, sidebarExpanded: localStorage.getItem('sidebar-expanded') == 'true', profileSidebarOpen: false }"
    x-init="$watch('sidebarExpanded', value => localStorage.setItem('sidebar-expanded', value))"
>

    <script>
        if (localStorage.getItem('sidebar-expanded') == 'true') {
            document.querySelector('body').classList.add('sidebar-expanded');
        } else {
            document.querySelector('body').classList.remove('sidebar-expanded');
        }
    </script>
                
                
                
                <!-- Profile body -->
                <div 
                    class="grow flex flex-col md:translate-x-0 transition-transform duration-300 ease-in-out"
                    :class="profileSidebarOpen ? 'translate-x-1/3' : 'translate-x-0'">

                    <!-- Profile background -->
                    <div class="relative h-56 bg-slate-200">
                        <img class="object-cover h-full w-full" src="./images/profile-bg.jpg" width="979" height="220" alt="Profile background" />
                        <!-- Close button -->
                        <button
                            class="md:hidden absolute top-4 left-4 sm:left-6 text-white opacity-80 hover:opacity-100"
                            @click.stop="profileSidebarOpen = !profileSidebarOpen"
                            aria-controls="profile-sidebar"
                            :aria-expanded="profileSidebarOpen"
                        >
                            <span class="sr-only">Close sidebar</span>
                            <svg class="w-6 h-6 fill-current" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.7 18.7l1.4-1.4L7.8 13H20v-2H7.8l4.3-4.3-1.4-1.4L4 12z" />
                            </svg>
                        </button>        
                    </div>

                    <!-- Content -->
                    <div class="relative px-4 sm:px-6 pb-8">

                        <!-- Pre-header -->
                        <div class="-mt-16 mb-6 sm:mb-3">

                            <div class="flex flex-col items-center sm:flex-row sm:justify-between sm:items-end">

                                <!-- Avatar -->
                                <div class="inline-flex -ml-1 -mt-1 mb-4 sm:mb-0">
                                    <img class="rounded-full border-4 border-white" src="https://media.istockphoto.com/id/1087022094/fr/photo/pilote-de-course-automobile.jpg?s=612x612&w=0&k=20&c=PKq3f42gra37vwwPynRSd-2IkS0tAt3MiSZfByea_Qk=" width="128" height="128" alt="Avatar" />
                                </div>
                    
                                <!-- Actions -->
                                <div class="flex space-x-2 sm:mb-2">
                                <% if current_user %>
                                  <% if my_profile? %>
                                    <div class="my-1 btn-sm bg-indigo-500 hover:bg-indigo-600 text-white">
                                      <%= button_to "Proposer un coaching", new_availability_path, method: :get, class: "mx-4 btn-sm bg-indigo-500 hover:bg-indigo-600 text-white" %>
                                    </div>
                                    <div class="my-1 btn-sm bg-indigo-500 hover:bg-indigo-600 text-white">
                                      <%= button_to "Éditer votre profil", edit_user_path(@user), method: :get, class: "mx-4 btn-sm bg-indigo-500 hover:bg-indigo-600 text-white" %>
                                    </div>
                                    <div class="my-1 btn-sm bg-indigo-500 hover:bg-indigo-600 text-white">
                                    <%= button_to "Ajouter des moyens de communication", com_means_path, method: :get, class: "mx-4 btn-sm bg-indigo-500 hover:bg-indigo-600 text-white" %>
                                    </div>
                                  <% else %>
                                    <div class="my-1 btn-sm bg-indigo-500 hover:bg-indigo-600 text-white">
                                      <%= button_to "Réserver une session", new_meeting_path, method: :get, params: {coach_id: params[:id]}, class: "mx-4 btn-sm bg-indigo-500 hover:bg-indigo-600 text-white"%>
                                    </div>
                                    <div class="my-1 btn-sm bg-indigo-500 hover:bg-indigo-600 text-white">
                                      <%= button_to "Retour à l'index", root_path, method: :get, class: "mx-4 btn-sm bg-indigo-500 hover:bg-indigo-600 text-white" %>
                                    </div>
                                  <% end %>
                                <% end %>
                                </div>                         

                            </div>

                        </div>

                        <!-- Header -->
                        <header class="text-center sm:text-left mb-6"> 
                          <!-- Name -->
                          <div class="inline-flex items-start mb-2">
                            <h1 class="text-2xl text-slate-800 font-bold"><%= @user.first_name + " " + @user.last_name %></h1>
                            <svg class="w-4 h-4 fill-current shrink-0 text-amber-500 ml-2" viewBox="0 0 16 16">
                              <path d="M13 6a.75.75 0 0 1-.75-.75 1.5 1.5 0 0 0-1.5-1.5.75.75 0 1 1 0-1.5 1.5 1.5 0 0 0 1.5-1.5.75.75 0 1 1 1.5 0 1.5 1.5 0 0 0 1.5 1.5.75.75 0 1 1 0 1.5 1.5 1.5 0 0 0-1.5 1.5A.75.75 0 0 1 13 6ZM6 16a1 1 0 0 1-1-1 4 4 0 0 0-4-4 1 1 0 0 1 0-2 4 4 0 0 0 4-4 1 1 0 1 1 2 0 4 4 0 0 0 4 4 1 1 0 0 1 0 2 4 4 0 0 0-4 4 1 1 0 0 1-1 1Z" />
                            </svg>
                          </div> 
                        </header>

                            <!-- Profile content -->
                            <div class="flex flex-col xl:flex-row xl:space-x-16">

                              <!-- Main content -->
                              <div class="space-y-5 mb-8 xl:mb-0">                        
                                <!-- About Me -->
                                <div>
                                    <h2 class="text-slate-800 font-semibold mb-2">À propos</h2>
                                    <div class="text-sm space-y-2">
                                        <p><%= @user.description %></p>
                                    </div>
                                </div>

                                
                              <!-- Mes meetings -->
                              <% if current_user %>
                                  <% if my_profile? %>
                                  <% unless @user.driver_meetings.empty? %>
                                    <h2 class="text-slate-800 font-semibold mt-4 mb-2">Mes Meetings</h2>                                        
                                      <div class="card flex-row-reverse bg-white p-4 border border-slate-200 rounded-sm shadow-sm">
                                        <ul class="space-y-3">

                                            <!-- Item -->
                                            <% @user.driver_meetings.each do |meeting| %>
                                            <li class="sm:flex sm:items-center sm:justify-between">
                                                <div class="sm:grow flex items-center text-sm">
                                                    <!-- Icon -->
                                                    <div class="w-8 h-8 rounded-full shrink-0 bg-indigo-500 my-2 mr-3">
                                                        <svg class="w-8 h-8 fill-current text-indigo-50" viewBox="0 0 32 32">
                                                            <path d="M8.994 20.006a1 1 0 0 1-.707-1.707l4.5-4.5a1 1 0 0 1 1.414 0l3.293 3.293 4.793-4.793a1 1 0 1 1 1.414 1.414l-5.5 5.5a1 1 0 0 1-1.414 0l-3.293-3.293L9.7 19.713a1 1 0 0 1-.707.293Z" />
                                                        </svg>
                                                    </div>
                                                    <!-- Position -->
                                                    <div>
                                                        <div class="font-medium text-slate-800">Sessions avec <%= User.find(meeting.coach_id).first_name + " " + User.find(meeting.coach_id).last_name %></div>
                                                        <div class="flex flex-nowrap items-center space-x-2 whitespace-nowrap">
                                                            <div>Via <%= ComMean.find(meeting.com_mean_id).communication_mean %></div>
                                                            <div class="text-slate-400">·</div>
                                                            <div>le <%= Availability.find(meeting.availability_id).start_date %></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Tags -->
                                                <div class="sm:ml-2 mt-2 sm:mt-0">
                                                    <ul class="flex flex-wrap sm:justify-end -m-1">
                                                        <li class="m-1">
                                                            <%= button_to "Voir le détail", meeting_path(meeting.id), method: :get, class:"inline-flex items-center justify-center text-xs font-medium leading-5 rounded-full px-2.5 py-0.5 border border-slate-200 hover:border-slate-300 shadow-sm bg-white text-slate-500 duration-150 ease-in-out" %>
                                                        </li>                                                           
                                                    </ul>
                                                </div>
                                            </li>
                                            <% end %>
                                        </ul>
                                    </div>
                                      <% end %>
                                      <% end %>
                                <% end %>

                    
                                <!-- Cards voitures coach -->
                                <div>
                                <% unless @user_cars_as_coach.empty? %>
                                    <h2 class="text-slate-800 font-semibold mb-2">Mes voitures en tant que coach</h2>
                                    <!-- Cards -->
                                    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-6 w-full pb-6">
                                      <!-- Card -->                                            
                                        <% @user_cars_as_coach.each do |car| %>
                                        <div class="card flex-row-reverse bg-white p-4 border border-slate-200 rounded-sm shadow-sm">
                                          <div class="text-sm mr-7"><%= car.model %></div>
                                            <div>
                                            <%= button_to "Voir cette voiture", car_path(car.id), method: :get, class: "lg:text-sm text-lg font-bold" %>
                                          </div>
                                          <div class="flex justify-between items-center">
                                            <%= image_tag("cars/#{car.model.parameterize(separator: '_')}.png", class: "rounded-t-2xl shadow-2xl w-full h-44 lg:w-full lg:h-44 2xl:w-full 2xl:h-44 object-cover", alt: "Photo d'une voiture du modéle #{car.model}") %>
                                          </div>
                                        </div>
                                        <% end %>                                        
                                    </div>
                                <% end %>
                                </div>

                                <!-- Cards voitures driver -->
                                <div>
                                <% unless @user_cars_as_driver.empty? %>
                                    <h2 class="text-slate-800 font-semibold mb-2">Mes voitures en tant que driver</h2>
                                    <!-- Cards -->
                                    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-6 w-full pb-6">
                                      <!-- Card -->                                
                                        <% @user_cars_as_driver.each do |car|%>
                                        <div class="card flex-row-reverse bg-white p-4 border border-slate-200 rounded-sm shadow-sm">
                                          <div class="text-sm mr-7"><%= car.model %></div>
                                            <div>
                                            <%= button_to "Voir cette voiture", car_path(car.id), method: :get, class: "lg:text-sm text-lg font-bold" %>
                                          </div>
                                          <div class="flex justify-between items-center">
                                            <%= image_tag("cars/#{car.model.parameterize(separator: '_')}.png", class: "rounded-t-2xl shadow-2xl w-full h-44 lg:w-full lg:h-44 2xl:w-full 2xl:h-44 object-cover", alt: "Photo d'une voiture du modéle #{car.model}") %>
                                          </div>
                                        </div>
                                        <% end %>
                                    </div>
                                <% end %>
                                </div>

                                <!-- Cards circuits coach -->
                                <div>
                                <% unless @user_tracks_as_coach.empty? %>
                                    <h2 class="text-slate-800 font-semibold mb-2">Mes circuits en tant que coach</h2>
                                    <!-- Cards -->
                                    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-6 w-full pb-6">
                                      <!-- Card -->                                
                                        <% @user_tracks_as_coach.each do |track| %>
                                        <div class="card flex-row-reverse bg-white p-4 border border-slate-200 rounded-sm shadow-sm">
                                          <div class="text-sm mr-7"><%= (track.name)+", " + (track.location) %></div>
                                            <div>
                                            <%= button_to "Voir ce circuit", track_path(track.id), method: :get, class: "lg:text-sm text-lg font-bold" %>
                                          </div>
                                          <div class="flex justify-between items-center">
                                            <%= image_tag("tracks/#{track.name.parameterize(separator: '_')}.png", class: "rounded-t-2xl shadow-2xl w-full h-44 lg:w-full lg:h-44 2xl:w-full 2xl:h-44 object-cover", alt: "Photo du circuit de #{track.name}") %>
                                          </div>
                                        </div>
                                        <% end %>
                                    </div>
                                <% end %>
                                </div>

                                <!-- Cards circuits coach -->
                                <div>
                                <% unless @user_tracks_as_driver.empty? %>
                                    <h2 class="text-slate-800 font-semibold mb-2">Mes circuits en tant que driver</h2>
                                    <!-- Cards -->
                                    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-6 w-full pb-6">
                                      <!-- Card -->                                
                                        <% @user_tracks_as_driver.each do |track|%>
                                        <div class="card flex-row-reverse bg-white p-4 border border-slate-200 rounded-sm shadow-sm">
                                          <div class="text-sm mr-7"><%= (track.name)+", " + (track.location) %></div>
                                            <div>
                                            <%= button_to "Voir ce circuit", track_path(track.id), method: :get, class: "lg:text-sm text-lg font-bold" %>
                                          </div>
                                          <div class="flex justify-between items-center">
                                            <%= image_tag("tracks/#{track.name.parameterize(separator: '_')}.png", class: "rounded-t-2xl shadow-2xl w-full h-44 lg:w-full lg:h-44 2xl:w-full 2xl:h-44 object-cover", alt: "Photo du circuit de #{track.name}") %>
                                          </div>
                                        </div>
                                        <% end %>
                                    </div>
                                <% end %>
                                </div>
                              </div>
                            </div>

                                <% if current_user %>
                                  <% if my_profile? %>                
                                <!-- Work History -->
                                <div>
                                    <!-- Mes feedbacks -->
                                    <h2 class="text-slate-800 font-semibold mt-4 mb-2">Mes feedbacks</h2>                                        
                                      <div class="card flex-row-reverse bg-white p-4 border border-slate-200 rounded-sm shadow-sm">
                                        <ul class="space-y-3">

                                            <!-- Item -->
                                            <% @user.driver_feedbacks.each do |feedback| %>
                                            <li class="sm:flex sm:items-center sm:justify-between">
                                                <div class="sm:grow flex items-center text-sm">
                                                    <!-- Icon -->
                                                    <div class="w-8 h-8 rounded-full shrink-0 bg-indigo-500 my-2 mr-3">
                                                        <svg class="w-8 h-8 fill-current text-indigo-50" viewBox="0 0 32 32">
                                                            <path d="M8.994 20.006a1 1 0 0 1-.707-1.707l4.5-4.5a1 1 0 0 1 1.414 0l3.293 3.293 4.793-4.793a1 1 0 1 1 1.414 1.414l-5.5 5.5a1 1 0 0 1-1.414 0l-3.293-3.293L9.7 19.713a1 1 0 0 1-.707.293Z" />
                                                        </svg>
                                                    </div>
                                                    <!-- Position -->
                                                    <div>
                                                        <div class="font-medium text-slate-800">Sessions avec <%= User.find(meeting.coach_id).first_name + " " + User.find(meeting.coach_id).last_name %></div>
                                                        <div class="flex flex-nowrap items-center space-x-2 whitespace-nowrap">
                                                            <div>Via <%= ComMean.find(meeting.com_mean_id).communication_mean %></div>
                                                            <div class="text-slate-400">·</div>
                                                            <div>le <%= Availability.find(meeting.availability_id).start_date %></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Tags -->
                                                <div class="sm:ml-2 mt-2 sm:mt-0">
                                                    <ul class="flex flex-wrap sm:justify-end -m-1">
                                                        <li class="m-1">
                                                            <%= button_to "Voir le détail", meeting_path(meeting.id), method: :get, class:"inline-flex items-center justify-center text-xs font-medium leading-5 rounded-full px-2.5 py-0.5 border border-slate-200 hover:border-slate-300 shadow-sm bg-white text-slate-500 duration-150 ease-in-out" %>
                                                        </li>                                                           
                                                    </ul>
                                                </div>
                                            </li>
                                            <% end %>

                                            <!-- Item -->
                                            <li class="sm:flex sm:items-center sm:justify-between">
                                                <div class="sm:grow flex items-center text-sm">
                                                    <!-- Icon -->
                                                    <div class="w-8 h-8 rounded-full shrink-0 bg-amber-500 my-2 mr-3">
                                                        <svg class="w-8 h-8 fill-current text-amber-50" viewBox="0 0 32 32">
                                                            <path d="M21 14a.75.75 0 0 1-.75-.75 1.5 1.5 0 0 0-1.5-1.5.75.75 0 1 1 0-1.5 1.5 1.5 0 0 0 1.5-1.5.75.75 0 1 1 1.5 0 1.5 1.5 0 0 0 1.5 1.5.75.75 0 1 1 0 1.5 1.5 1.5 0 0 0-1.5 1.5.75.75 0 0 1-.75.75Zm-7 10a1 1 0 0 1-1-1 4 4 0 0 0-4-4 1 1 0 0 1 0-2 4 4 0 0 0 4-4 1 1 0 0 1 2 0 4 4 0 0 0 4 4 1 1 0 0 1 0 2 4 4 0 0 0-4 4 1 1 0 0 1-1 1Z" />
                                                        </svg>
                                                    </div>
                                                    <!-- Position -->
                                                    <div>
                                                        <div class="font-medium text-slate-800">Sessions avec Michael Schumacher</div>
                                                        <div class="flex flex-nowrap items-center space-x-2 whitespace-nowrap">
                                                            <div>Via google meet</div>
                                                            <div class="text-slate-400">·</div>
                                                            <div>le 20 Avril 2022</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Tags -->
                                                <div class="sm:ml-2 mt-2 sm:mt-0">
                                                    <ul class="flex flex-wrap sm:justify-end -m-1">
                                                        <li class="m-1">
                                                            <button class="inline-flex items-center justify-center text-xs font-medium leading-5 rounded-full px-2.5 py-0.5 border border-slate-200 hover:border-slate-300 shadow-sm bg-white text-slate-500 duration-150 ease-in-out">Voir le détail</button>
                                                        </li>                                                           
                                                    </ul>
                                                </div>
                                            </li>

                                            <!-- Item -->
                                            <li class="sm:flex sm:items-center sm:justify-between">
                                                <div class="sm:grow flex items-center text-sm">
                                                    <!-- Icon -->
                                                    <div class="w-8 h-8 rounded-full shrink-0 bg-amber-500 my-2 mr-3">
                                                        <svg class="w-8 h-8 fill-current text-amber-50" viewBox="0 0 32 32">
                                                            <path d="M21 14a.75.75 0 0 1-.75-.75 1.5 1.5 0 0 0-1.5-1.5.75.75 0 1 1 0-1.5 1.5 1.5 0 0 0 1.5-1.5.75.75 0 1 1 1.5 0 1.5 1.5 0 0 0 1.5 1.5.75.75 0 1 1 0 1.5 1.5 1.5 0 0 0-1.5 1.5.75.75 0 0 1-.75.75Zm-7 10a1 1 0 0 1-1-1 4 4 0 0 0-4-4 1 1 0 0 1 0-2 4 4 0 0 0 4-4 1 1 0 0 1 2 0 4 4 0 0 0 4 4 1 1 0 0 1 0 2 4 4 0 0 0-4 4 1 1 0 0 1-1 1Z" />
                                                        </svg>
                                                    </div>
                                                    <!-- Position -->
                                                    <div>
                                                        <div class="font-medium text-slate-800">Sessions avec Michael Schumacher</div>
                                                        <div class="flex flex-nowrap items-center space-x-2 whitespace-nowrap">
                                                            <div>Via google meet</div>
                                                            <div class="text-slate-400">·</div>
                                                            <div>le 20 Avril 2022</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Tags -->
                                                <div class="sm:ml-2 mt-2 sm:mt-0">
                                                    <ul class="flex flex-wrap sm:justify-end -m-1">
                                                        <li class="m-1">
                                                            <button class="inline-flex items-center justify-center text-xs font-medium leading-5 rounded-full px-2.5 py-0.5 border border-slate-200 hover:border-slate-300 shadow-sm bg-white text-slate-500 duration-150 ease-in-out">Voir le détail</button>
                                                        </li>                                                           
                                                    </ul>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                  <% end %>
                                <% end %>
                    
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </main>

    </div>

    </div>

    <script src="./js/vendors/alpinejs.min.js" defer></script>

    </body>