<p style="color: green"><%= notice %></p>

<%= render @join_table_user_communication_mean %>

<div>
  <%= link_to "Edit this join table user communication mean", edit_join_table_user_communication_mean_path(@join_table_user_communication_mean) %> |
  <%= link_to "Back to join table user communication means", join_table_user_communication_means_path %>

  <%= button_to "Destroy this join table user communication mean", @join_table_user_communication_mean, method: :delete %>
</div>
