<div class="grid h-10 rounded-box place-items-stretch">
  <div class="h-screen">
  
    <div class="w-80 mt-24 m-auto lg:mt-16 max-w-sm">
      <%= image_tag("cars/#{@car.model.parameterize(separator: '_')}.png", class: "rounded-t-2xl shadow-2xl w-full h-44 lg:w-full lg:h-44 2xl:w-full 2xl:h-44 object-cover", alt: "Photo d'une voiture du modéle #{@car.model}") %>
      <div class="bg-white shadow-2xl rounded-b-3xl pb-6">
        <h2 class="text-center text-gray-800 text-2xl font-bold pt-6"><%= @car.model %></h2>
        <div class="bg-blue-700 w-72 lg:w-5/6 m-auto mt-6 p-2 hover:bg-indigo-500 rounded-2xl  text-white text-center shadow-xl shadow-bg-blue-700">
          <%= button_to "Retour à la liste des voitures", cars_path, method: :get, class: "lg:text-sm text-lg font-bold"%>
        </div>
        <div class="text-center m-auto mt-6 w-full h-16">
          <% if current_user %>
            <% if JoinTableUserCar.find_by(user_id: current_user.id, car_id: @car.id).nil? %>
              <%= button_to "Ajouter cette voiture en tant que coach", join_table_user_cars_path, method: :post, params:{car_id: @car.id, is_coach: true, is_driver: false},  class: "text-gray-500 font-bold lg:text-sm hover:text-gray-900"%>
              <%= button_to "Ajouter cette voiture en tant que driver", join_table_user_cars_path, method: :post, params:{car_id: @car.id, is_coach: false, is_driver: true},  class: "text-gray-500 font-bold lg:text-sm hover:text-gray-900"%>
              <%= button_to "Ajouter cette voiture: coach et driver", join_table_user_cars_path, method: :post, params:{car_id: @car.id, is_coach: true, is_driver: true},  class: "text-gray-500 font-bold lg:text-sm hover:text-gray-900"%>
            <% else %>
              <% if JoinTableUserCar.find_by(user_id: current_user.id, car_id: @car.id, is_coach: false).nil? && JoinTableUserCar.find_by(user_id: current_user.id, car_id: @car.id, is_driver: false).nil? %>
                <%= button_to "Supprimer cette voiture en tant que coach", join_table_user_car_path(JoinTableUserCar.find_by(user_id: current_user.id, car_id: @car.id)), method: :put, params:{is_coach: false, is_driver: true},  class: "text-gray-500 font-bold lg:text-sm hover:text-gray-900"%>
                <%= button_to "Supprimer cette voiture en tant que driver", join_table_user_car_path(JoinTableUserCar.find_by(user_id: current_user.id, car_id: @car.id)), method: :put, params:{is_coach: true, is_driver: false},  class: "text-gray-500 font-bold lg:text-sm hover:text-gray-900"%>
              <% elsif JoinTableUserCar.find_by(user_id: current_user.id, car_id: @car.id, is_coach: true).nil? && JoinTableUserCar.find_by(user_id: current_user.id, car_id: @car.id, is_driver: false).nil? %>
                <%= button_to "Ajouter cette voiture en tant que coach", join_table_user_car_path(JoinTableUserCar.find_by(user_id: current_user.id, car_id: @car.id)), method: :put, params:{is_coach: true, is_driver: true},  class: "text-gray-500 font-bold lg:text-sm hover:text-gray-900"%>
                <%= button_to "Supprimer cette voiture en tant que driver", join_table_user_car_path(JoinTableUserCar.find_by(user_id: current_user.id, car_id: @car.id)), method: :put, params:{is_coach: false, is_driver: false},  class: "text-gray-500 font-bold lg:text-sm hover:text-gray-900"%>
              <% elsif JoinTableUserCar.find_by(user_id: current_user.id, car_id: @car.id, is_coach: false).nil? && JoinTableUserCar.find_by(user_id: current_user.id, car_id: @car.id, is_driver: true).nil? %>
                <%= button_to "Supprimer cette voiture en tant que coach", join_table_user_car_path(JoinTableUserCar.find_by(user_id: current_user.id, car_id: @car.id)), method: :put, params:{is_coach: false, is_driver: false},  class: "text-gray-500 font-bold lg:text-sm hover:text-gray-900"%>
                <%= button_to "Ajouter cette voiture en tant que driver", join_table_user_car_path(JoinTableUserCar.find_by(user_id: current_user.id, car_id: @car.id)), method: :put, params:{is_coach: true, is_driver: true},  class: "text-gray-500 font-bold lg:text-sm hover:text-gray-900"%>
              <% elsif JoinTableUserCar.find_by(user_id: current_user.id, car_id: @car.id, is_coach: true).nil? && JoinTableUserCar.find_by(user_id: current_user.id, car_id: @car.id, is_driver: true).nil? %>
                <%= button_to "Ajouter cette voiture en tant que coach", join_table_user_car_path(JoinTableUserCar.find_by(user_id: current_user.id, car_id: @car.id)), method: :put, params:{is_coach: true, is_driver: false},  class: "text-gray-500 font-bold lg:text-sm hover:text-gray-900"%>
                <%= button_to "Ajouter cette voiture en tant que driver", join_table_user_car_path(JoinTableUserCar.find_by(user_id: current_user.id, car_id: @car.id)), method: :put, params:{is_coach: false, is_driver: true},  class: "text-gray-500 font-bold lg:text-sm hover:text-gray-900"%>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="w-80 mt-24 m-auto lg:mt-16 max-w-sm">
          <img src="https://image.freepik.com/free-vector/app-development-illustration_52683-47931.jpg" alt="a picture of two web developpers working on the development of an app" class="rounded-t-2xl shadow-2xl lg:w-full 2xl:w-full 2xl:h-44 object-cover"/>
            <div class="bg-white shadow-2xl rounded-b-3xl">
              <h2 class="text-center text-gray-800 text-2xl font-bold pt-6"><%= @car.model %></h2>
                <div class="bg-blue-700 w-72 lg:w-5/6 m-auto mt-6 p-2 hover:bg-indigo-500 rounded-2xl  text-white text-center shadow-xl shadow-bg-blue-700">
                  <%= button_to "Retour à la liste des voitures", cars_path, method: :get, class: "lg:text-sm text-lg font-bold"%>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>