    <div class="mx-auto px-4 sm:px-6 pt-12">
      <div class="relative px-8 pb-0 md:py-16 md:px-12 bg w-full">
        <div class="bg-cover bg-center  h-auto text-white py-24 px-10 object-fill bg-[url('ban_index.png')]">
          <div class="md:w-full">
            <p class="font-bold text-sm uppercase">Bienvenue</p>
            <p class="text-3xl font-bold">Rejoignez en t'inscrivant !</p>
            <p class="text-2xl mb-10 leading-none">Devenez coach, driver ou les deux !</p>
            <% unless current_user %>
              <div class= "flex items-align space-between">
                <div class= "py-2 px-2">
                  <%= button_to "Connectez-vous !", new_user_session_path, method: :get, class: "bg-indigo-600 py-4 px-8 text-white font-bold uppercase text-xs rounded hover:bg-gray-200 hover:text-gray-800" %>
                </div>
                <div class= "py-2 px-2">
                  <%= button_to "Inscrivez-vous !", new_user_registration_path, method: :get, class: "bg-indigo-600 py-4 px-8 text-white font-bold uppercase text-xs rounded hover:bg-gray-200 hover:text-gray-800" %>
                </div>
              </div>
            <% end %>           
          </div>  
        </div> 
      </div>
    </div>


<!-- card driver -->

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-6 w-full pb-6">

    <% @other_coachs.each do |coach| %>
    <div class = "content-center">
      <div class="w-80 mt-24 m-auto lg:mt-16 max-w-sm ">
        <img src="https://image.freepik.com/free-vector/app-development-illustration_52683-47931.jpg" alt="a picture of two web developpers working on the development of an app" class="rounded-t-2xl shadow-2xl lg:w-full 2xl:w-full 2xl:h-44 object-cover"/>
        <div class="bg-white shadow-2xl rounded-b-3xl pb-6">
          <h2 class="text-center text-gray-800 text-2xl font-bold pt-6"><%= coach.first_name %> <%= coach.last_name %></h2>

          <div class="bg-blue-700 w-72 lg:w-5/6 m-auto mt-6 p-2 hover:bg-indigo-500 rounded-2xl  text-white text-center shadow-xl shadow-bg-blue-700">
            <%= button_to "Mon profil et mes dispos", user_path(coach.id), method: :get, class: "lg:text-sm text-lg font-bold"%>
          </div>

          <% if current_user %>
            <div class="text-center m-auto mt-6 w-full h-16">
              <%= button_to "Prendre RDV", new_meeting_path, method: :get, params: {coach_id: coach.id}, class: "text-gray-500 font-bold lg:text-sm hover:text-gray-900"%>
            </div>
          <% end %>
  
        </div>
      </div>
    </div>
    <% end %> 


</div>



