    <div class="mx-auto px-4 sm:px-6 pt-12 w-full">
      <div class="relative px-8 bg-cover bg-center h-auto bg w-full object-fill bg-[url('ban_index.png')]">
        <div class=" text-white pb-18 pt-10 px-10">
          <div class="md:w-full">
            <div>
              <p class="font-bold text-sm uppercase">Bienvenue</p>
              <p class="text-3xl font-bold">Rejoignez-nous !</p>
              <p class="text-2xl mb-10 leading-none">Devenez coach, driver ou bien les deux !</p>
            </div>
            <div class="pb-10">
              <% unless current_user %>
                <div class= "flex items-align space-between">
                  <div class= "py-2 px-2">
                    <%= button_to "Connectez-vous", new_user_session_path, method: :get, class: "py-3 px-3 my-2 bg-blue-300 text-white font-medium rounded hover:bg-blue-600 cursor-pointer ease-in-out duration-300" %>
                  </div>
                  <div class= "py-2 px-2">
                    <%= button_to "Inscrivez-vous", new_user_registration_path, method: :get, class: "py-3 px-3 my-2 bg-blue-300 text-white font-medium rounded hover:bg-blue-600 cursor-pointer ease-in-out duration-300" %>
                  </div>
                </div>
              <% end %> 
            </div>
          </div>  
        </div> 
      </div>
    </div>


<!-- card driver -->

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-6 w-full pb-6">

    <% @other_coachs.each do |coach| %>
    <div class = "content-center">
      <div class="w-80 mt-24 m-auto lg:mt-16 max-w-sm ">
        <%= image_tag("app-development-illustration_52683-47931.jpg", alt:"a picture of two web developpers working on the development of an app", class:"rounded-t-2xl shadow-2xl lg:w-full 2xl:w-full 2xl:h-44 object-cover")%>
        <div class="bg-white shadow-2xl rounded-b-3xl pb-6">
          <h2 class="text-center text-gray-800 text-2xl font-bold pt-6"><%= coach.first_name %> <%= coach.last_name %></h2>

          <div class="w-72 lg:w-5/6 m-auto mt-6 p-2 rounded-2xl text-center">
            <%= button_to "Voir le profil", user_path(coach.id), method: :get, class: "w-full py-3 px-3 my-2 bg-blue-300 text-white font-medium rounded hover:bg-blue-600 cursor-pointer ease-in-out duration-300"%>
          </div>

          <% if current_user %>
            <div class="text-center m-auto mt-6 w-full h-16">
              <%= button_to "Réserver une session", new_meeting_path, method: :get, params: {coach_id: coach.id}, class: "text-gray-500 font-bold lg:text-sm hover:text-gray-900"%>
            </div>
          <% end %>
  
        </div>
      </div>
    </div>
    <% end %> 


</div>



